<div class="row">
    <div class="col-md-12">
        <h1>Tierdetails</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Basisinformationen</h5>
            </div>
            <div class="card-body">
                <table class="table table-borderless">
                    <tr>
                        <td><strong>Instanz:</strong></td>
                        <td><%= animal.InstanceID %></td>
                    </tr>
                    <tr>
                        <td><strong>Tier-ID:</strong></td>
                        <td><%= animal.AnimalID %></td>
                    </tr>
                    <tr>
                        <td><strong>Jahr/Nummer:</strong></td>
                        <td><%= animal.Year %>/<%= animal.YearNumber %></td>
                    </tr>
                    <tr>
                        <td><strong>Art:</strong></td>
                        <td><%= if (animal.Species.Valid) { %><%= tfield_localized(animal, "species") %><% } else { %>-<% } %></td>
                    </tr>
                    <tr>
                        <td><strong>Typ:</strong></td>
                        <td><%= if (animal.AnimalType.Valid) { %><%= tfield_localized(animal, "animal_type") %><% } else { %>-<% } %></td>
                    </tr>
                    <tr>
                        <td><strong>Alter:</strong></td>
                        <td><%= if (animal.AnimalAge.Valid) { %><%= tfield_localized(animal, "animal_age") %><% } else { %>-<% } %></td>
                    </tr>
                    <tr>
                        <td><strong>Status:</strong></td>
                        <td>
                            <span class="badge badge-<%= statusClass(animal) %> mr-1">
                                <%= tstatus_localized(animal.EffectiveStatus()) %>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Fund &amp; Aufnahme</h5>
            </div>
            <div class="card-body">
                <table class="table table-borderless">
                    <tr>
                        <td><strong>Fundort:</strong></td>
                        <td><%= if (animal.DiscoveryLocation.Valid) { %><%= animal.DiscoveryLocation.String %><% } else { %>-<% } %></td>
                    </tr>
                    <tr>
                        <td><strong>Funddatum:</strong></td>
                        <td><%= if (animal.DiscoveryDate.Valid) { %><%= animal.DiscoveryDate.Time.Format("2006-01-02 15:04") %><% } else { %>-<% } %></td>
                    </tr>
                    <tr>
                        <td><strong>Eintrittsgrund:</strong></td>
                        <td><%= if (animal.EntryCause.Valid) { %><%= tfield_localized(animal, "entry_cause") %><% } else { %>-<% } %></td>
                    </tr>
                    <tr>
                        <td><strong>Eintrittsgrunddetail:</strong></td>
                        <td><%= if (animal.EntryCauseDetail.Valid) { %><%= tfield_localized(animal, "entry_cause_detail") %><% } else { %>-<% } %></td>
                    </tr>
                    <tr>
                        <td><strong>Art des Eintrittsgrunds:</strong></td>
                        <td><%= if (animal.EntryCauseNature.Valid) { %><%= tfield_localized(animal, "entry_cause_nature") %><% } else { %>-<% } %></td>
                    </tr>
                    <tr>
                        <td><strong>Aufnahmedatum:</strong></td>
                        <td><%= if (animal.IntakeDate.Valid) { %><%= animal.IntakeDate.Time.Format("2006-01-02 15:04") %><% } else { %>-<% } %></td>
                    </tr>
                    <tr>
                        <td><strong>Allgemeinzustand:</strong></td>
                        <td><%= if (animal.IntakeGeneral.Valid) { %><%= animal.IntakeGeneral.String %><% } else { %>-<% } %></td>
                    </tr>
                    <tr>
                        <td><strong>Wunden:</strong></td>
                        <td><%= if (animal.IntakeWounds.Valid) { %><%= animal.IntakeWounds.String %><% } else { %>-<% } %></td>
                    </tr>
                    <tr>
                        <td><strong>Parasiten:</strong></td>
                        <td><%= if (animal.IntakeParasites.Valid) { %><%= animal.IntakeParasites.String %><% } else { %>-<% } %></td>
                    </tr>
                    <tr>
                        <td><strong>Bemerkungen:</strong></td>
                        <td><%= if (animal.IntakeRemarks.Valid) { %><%= animal.IntakeRemarks.String %><% } else { %>-<% } %></td>
                    </tr>
                    <%= if (animal.OutcomeStatus() != "") { %>
                    <tr>
                        <td><strong>Ausgang:</strong></td>
                        <td>
                            <span class="badge badge-<%= outcomeClass(animal) %>"><%= outcomeLabel(animal) %></span>
                            <%= if (animal.OuttakeType.Valid) { %><%= tfield_localized(animal, "outtake_type") %><% } %>
                        </td>
                    </tr>
                    <% } %>
                    <%= if (animal.OuttakeDate.Valid) { %>
                    <tr>
                        <td><strong>Ausgangsdatum:</strong></td>
                        <td><%= animal.OuttakeDate.Time.Format("2006-01-02 15:04") %></td>
                    </tr>
                    <% } %>
                    <%= if (animal.OuttakeLocation.Valid) { %>
                    <tr>
                        <td><strong>Ausgangsort:</strong></td>
                        <td><%= animal.OuttakeLocation.String %></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Ereignisverlauf (<%= len(events) %> Ereignisse)</h5>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Ereignistyp</th>
                            <th>Quelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%= for (event) in events { %>
                            <tr>
                                <td><%= event.CreatedAt.Format("02/01/2006 15:04") %></td>
                                <td>
                                    <span class="badge badge-<%= eventTypeClass(event) %>">
                                        <%= eventTypeLabel(event) %>
                                    </span>
                                </td>
                                <td><%= eventSource(event) %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <a href="/consolidated_animals" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Zurück zur Liste
        </a>
    </div>
</div>
